@model MusicApp.Models.Album
@{
    ViewBag.Title = "Details";
}


    <h2>Details of the album</h2>


    @{
        @*TODO:in linie!*@
        @Html.LabelFor(x => x.Title)
        <p>@Model.Title</p>
        @Html.LabelFor(x => x.ArtistName)
        <p>@Model.ArtistName</p>
        @Html.LabelFor(x => x.ReleaseYear)
        <p>@Model.ReleaseYear</p>
        <hr />
    }
